# Explotary Data Analysis

In [ ]:
# Load dataset and view basic structure

import pandas as pd
import numpy as np

df=pd.read_csv("Titanic-Dataset.csv")
df

# Display the first 5 rows for a quick preview
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Check structure and dimensions

In [ ]:
#shape

df.shape

(891, 12)

In [ ]:
# Check structure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
# Print the number of rows and columns
print(f"The number of rows= {df.shape[0]}")
print(f"The number of columns= {df.shape[1]}")

The number of rows= 891
The number of columns= 12

## Columns and Data Types

In [ ]:
#display the columns
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df.columns.to_list()

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [ ]:
# Data Types
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

## Using iloc and loc

- .iloc is position-based indexing, while .loc uses label-based indexing.

In [ ]:
#Using iloc list the values for row 50,100 and 150

df.iloc[[50,100,150]]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
50,51,0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.6875,NaN,S
100,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,NaN,S
150,151,0,2,"Bateman, Rev. Robert James",male,51.0,0,0,S.O.P. 1166,12.5250,NaN,S

In [ ]:
#Using loc list the names of the passengers for row 50,100 and 150

df.loc[[50,100,150], 'Name']

50     Panula, Master. Juha Niilo
100       Petranec, Miss. Matilda
150    Bateman, Rev. Robert James
Name: Name, dtype: object

## Descriptive Statistics

In [ ]:


# Summary statistics for numeric columns
df.describe()

df.describe(percentiles=[.1, .25, .5, .75, .9])

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
10%,90.000000,0.000000,1.000000,14.000000,0.000000,0.000000,7.550000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
90%,802.000000,1.000000,3.000000,50.000000,1.000000,2.000000,77.958300
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
# Summary statistics for categorical columns

df.describe(include='object')

                       Name   Sex  Ticket Cabin Embarked
count                   891   891     891   204      889
unique                  891     2     681   147        3
top     Dooley, Mr. Patrick  male  347082    G6        S
freq                      1   577       7     4      644

In [ ]:
# Univariate Analysis  Numerical
print('Age Summary:\n ', df['Age'].describe())

# Univariate Analysis  Categorical
print('Cabin Summary:\n ', df['Cabin'].describe())

print('Cabin Value Count:\n ', df['Cabin'].value_counts())

Age Summary:
  count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64
Cabin Summary:
  count     204
unique    147
top        G6
freq        4
Name: Cabin, dtype: object
Cabin Value Count:
  Cabin
G6             4
C23 C25 C27    4
B96 B98        4
F2             3
D              3
              ..
E17            1
A24            1
C50            1
B42            1
C148           1
Name: count, Length: 147, dtype: int64

## Data Cleaning Essentials

In [ ]:

# Missing values summary

df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# Drop duplicates if any

df.drop_duplicates(inplace=True)

In [ ]:
# Fill missing numeric values with median

df['Age'].fillna(df['Age'].median(), inplace=True)

/tmp/ipython-input-3317994918.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# Fill missing categorical values with mode
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)

/tmp/ipython-input-3595191994.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)

In [ ]:
# Normalize text data
df['Sex']= df['Sex'].str.lower()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
#missing-value percentage check  more intuitive for EDA reports
(df.isnull().sum()/len(df)*100).sort_values(ascending=False)

Cabin          77.104377
PassengerId     0.000000
Pclass          0.000000
Survived        0.000000
Name            0.000000
Sex             0.000000
SibSp           0.000000
Age             0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Embarked        0.000000
dtype: float64

In [ ]:
#Handling for incorrect data types
#Example: Convert 'Fare' to float if loaded as string
df['Fare']=df['Fare'].astype(float)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Summary Statistics Review

In [ ]:

# Numerical summaries
print("Mean Age:", df['Age'].mean())
print("Std of Fare:",df['Fare'].std() )
print("Min & Max Fare:",df['Fare'].min(), df['Fare'].max() )

# Categorical summaries
print("\nPclass counts:")
print(df['Pclass'].value_counts())

#Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
print("\nEmbarked distribution:")
print(df['Embarked'].value_counts())

Mean Age: 29.36158249158249
Std of Fare: 49.693428597180905
Min & Max Fare: 0.0 512.3292

Pclass counts:
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Embarked distribution:
Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

In [ ]:
#Another way of showing std and var
std = df[['Fare']]\
        .apply(['var', 'std'])
std

            Fare
var  2469.436846
std    49.693429

In [ ]:
#unique value counts and mode detection
print("\nUnique value counts per column:")
print(df.nunique())

Unique value counts per column:
PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

## Exploring Relationships

In [ ]:
# Group-based summaries


print("Mean Fare by Passenger Class:")
print(df.groupby('Pclass')['Fare'].mean())

print("\nSurvival rate by Sex:")
print(df.groupby('Sex')['Survived'].mean())

print("\nSurvival rate by Class and Sex:")
print(df.groupby(['Pclass','Sex'])['Survived'].mean())

# Correlation matrix

df.corr(numeric_only=True)

Mean Fare by Passenger Class:
Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

Survival rate by Sex:
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

Survival rate by Class and Sex:
Pclass  Sex
1       female    0.968085
        male      0.368852
2       female    0.921053
        male      0.157407
3       female    0.500000
        male      0.135447
Name: Survived, dtype: float64

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.034212,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.064910,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.339898,0.083081,0.018443,-0.549500
Age,0.034212,-0.064910,-0.339898,1.000000,-0.233296,-0.172482,0.096688
SibSp,-0.057527,-0.035322,0.083081,-0.233296,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.172482,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096688,0.159651,0.216225,1.000000

In [ ]:
# Bivariate Analysis  Numeric vs Numeric
print("Correlation between Age and Fare:\n",df[['Age', 'Fare']].corr() )

# Bivariate Analysis  Numeric vs Categorical
print("\nAverage Fare by Survival Status:\n", df[['Fare', 'Survived']].corr())

# # Bivariate Analysis  Categorical vs Categorical
print("\nSurvival counts by Embarked port:\n",pd.crosstab(df['Survived'], df['Embarked']))

Correlation between Age and Fare:
            Age      Fare
Age   1.000000  0.096688
Fare  0.096688  1.000000

Average Fare by Survival Status:
               Fare  Survived
Fare      1.000000  0.257307
Survived  0.257307  1.000000

Survival counts by Embarked port:
 Embarked   C   Q    S
Survived
0         75  47  427
1         93  30  219

## Outlier Detection (Without Plots)

In [ ]:

# Using IQR method
Q1 = df['Fare'].quantile(0.25)
Q3 = df['Fare'].quantile(0.75)
IQR = Q3 - Q1

outliers =df[(df['Fare']<(Q1-1.5*IQR))| (df['Fare']>(Q3+1.5*IQR))]
print("Number of outliers in Fare:", outliers.shape[0])

# Using Z-Score method
from scipy import stats
z = stats.zscore(df['Fare'])
print("Potential outliers (Z > 3):", df[abs(z) > 3].shape[0])

Number of outliers in Fare: 116
Potential outliers (Z > 3): 20

In [ ]:
round(np.mean(df['Fare']))

- Univariate

Understand individual variables	.describe(), .value_counts(), .mean(), .std()

- Bivariate

Explore relationships between two variables	groupby(), crosstab(), .corr()