# Program #1

Step #1 EDA
- Detect issues such as missing values, duplicates, or inconsistencies

In [87]:
import pandas as pd
import numpy as np

df = pd.read_csv("program1.csv")
print(df)

    year           state state_abbr  percent_yes
0   2023         Alabama         AL         22.6
1   2023          Alaska         AK         19.5
2   2023         Arizona         AZ         18.0
3   2023        Arkansas         AR         24.2
4   2023      California         CA         17.0
5   2023        Colorado         CO         21.4
6   2023     Connecticut         CT         18.8
7   2023        Delaware         DE         20.1
8   2023         Florida         FL         16.3
9   2023         Georgia         GA         17.7
10  2023          Hawaii         HI         13.9
11  2023           Idaho         ID         22.9
12  2023        Illinois         IL         18.1
13  2023         Indiana         IN         24.1
14  2023            Iowa         IA         19.2
15  2023          Kansas         KS         21.1
16  2023       Louisiana         LA         25.7
17  2023           Maine         ME         25.8
18  2023        Maryland         MD         17.4
19  2023   Massachusetts         MA         22.4
20  2023        Michigan         MI         24.1
21  2023       Minnesota         MN         23.1
22  2023     Mississippi         MS         18.1
23  2023        Missouri         MO         23.1
24  2023         Montana         MT         24.4
25  2023        Nebraska         NE         17.9
26  2023          Nevada         NV         20.7
27  2023   New Hampshire         NH         22.0
28  2023      New Jersey         NJ         13.9
29  2023      New Mexico         NM         23.0
30  2023        New York         NY         16.4
31  2023  North Carolina         NC         23.1
32  2023    North Dakota         ND         22.3
33  2023            Ohio         OH         25.0
34  2023        Oklahoma         OK         25.0
35  2023          Oregon         OR         25.8
36  2023    Rhode Island         RI         21.7
37  2023  South Carolina         SC         21.9
38  2023    South Dakota         SD         23.1
39  2023       Tennessee         TN         27.3
40  2023           Texas         TX         19.7
41  2023            Utah         UT         26.0
42  2023         Vermont         VT         25.8
43  2023        Virginia         VA         20.4
44  2023      Washington         WA         23.8
45  2023   West Virginia         WV         31.2
46  2023       Wisconsin         WI         22.6
47  2023         Wyoming         WY         21.1

In [88]:
df.shape

(48, 4)

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         48 non-null     int64
 1   state        48 non-null     object
 2   state_abbr   48 non-null     object
 3   percent_yes  48 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.6+ KB

In [90]:
print(f"The number of rows= {df.shape[0]}")
print(f"The number of columns= {df.shape[1]}")

The number of rows= 48
The number of columns= 4

In [91]:
df.columns

Index(['year', 'state', 'state_abbr', 'percent_yes'], dtype='object')

In [92]:
#display the columns
df.columns.to_list()

['year', 'state', 'state_abbr', 'percent_yes']

In [93]:
# Data Types
df.dtypes

year             int64
state           object
state_abbr      object
percent_yes    float64
dtype: object

In [94]:
#Using iloc list the values for row 20,30 and 48

df.iloc[[20,30,47]]

    year     state state_abbr  percent_yes
20  2023  Michigan         MI         24.1
30  2023  New York         NY         16.4
47  2023   Wyoming         WY         21.1

In [95]:
# Summary statistics for numeric columns
df.describe()

df.describe(percentiles=[.1, .25, .5, .75, .9])

         year  percent_yes
count    48.0    48.000000
mean   2023.0    21.639583
std       0.0     3.543933
min    2023.0    13.900000
10%    2023.0    17.280000
25%    2023.0    19.100000
50%    2023.0    22.150000
75%    2023.0    24.100000
90%    2023.0    25.800000
max    2023.0    31.200000

In [96]:
# Summary statistics for categorical columns

df.describe(include='object')

          state state_abbr
count        48         48
unique       48         48
top     Alabama         AL
freq          1          1

In [97]:
# Univariate Analysis — Numerical
print('Year Summary:\n ', df['year'].describe())

Year Summary:
  count      48.0
mean     2023.0
std         0.0
min      2023.0
25%      2023.0
50%      2023.0
75%      2023.0
max      2023.0
Name: year, dtype: float64

In [98]:
# Univariate Analysis — Numerical
print('Percent yes Summary:\n ', df['percent_yes'].describe())

Percent yes Summary:
  count    48.000000
mean     21.639583
std       3.543933
min      13.900000
25%      19.100000
50%      22.150000
75%      24.100000
max      31.200000
Name: percent_yes, dtype: float64

In [99]:
# Univariate Analysis — Categorical
print('State Summary:\n ', df['state'].describe())

State Summary:
  count          48
unique         48
top       Alabama
freq            1
Name: state, dtype: object

In [100]:
# Univariate Analysis — Categorical
print('State Abbreviation Summary:\n ', df['state_abbr'].describe())

State Abbreviation Summary:
  count     48
unique    48
top       AL
freq       1
Name: state_abbr, dtype: object

In [101]:
# Missing values summary

df.isnull().sum()

year           0
state          0
state_abbr     0
percent_yes    0
dtype: int64

In [102]:
# Drop duplicates if any

df.drop_duplicates(inplace=True)

In [103]:
# Fill missing numeric values with median

df['percent_yes'].fillna(df['percent_yes'].median(), inplace=True)

/tmp/ipykernel_61864/1689562056.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['percent_yes'].fillna(df['percent_yes'].median(), inplace=True)

In [104]:
df.isnull().sum()

year           0
state          0
state_abbr     0
percent_yes    0
dtype: int64

In [105]:
# Normalize text data
df['state']= df['state'].str.lower()

In [106]:
# Normalize text data
df['state_abbr']= df['state_abbr'].str.lower()

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         48 non-null     int64
 1   state        48 non-null     object
 2   state_abbr   48 non-null     object
 3   percent_yes  48 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.6+ KB

In [108]:
#missing-value percentage check — more intuitive for EDA reports
(df.isnull().sum()/len(df)*100).sort_values(ascending=False)

year           0.0
state          0.0
state_abbr     0.0
percent_yes    0.0
dtype: float64

In [109]:
#Handling for incorrect data types
#Example: Convert 'percent_yes' to float if loaded as string
df['percent_yes']=df['percent_yes'].astype(float)
df

    year           state state_abbr  percent_yes
0   2023         alabama         al         22.6
1   2023          alaska         ak         19.5
2   2023         arizona         az         18.0
3   2023        arkansas         ar         24.2
4   2023      california         ca         17.0
5   2023        colorado         co         21.4
6   2023     connecticut         ct         18.8
7   2023        delaware         de         20.1
8   2023         florida         fl         16.3
9   2023         georgia         ga         17.7
10  2023          hawaii         hi         13.9
11  2023           idaho         id         22.9
12  2023        illinois         il         18.1
13  2023         indiana         in         24.1
14  2023            iowa         ia         19.2
15  2023          kansas         ks         21.1
16  2023       louisiana         la         25.7
17  2023           maine         me         25.8
18  2023        maryland         md         17.4
19  2023   massachusetts         ma         22.4
20  2023        michigan         mi         24.1
21  2023       minnesota         mn         23.1
22  2023     mississippi         ms         18.1
23  2023        missouri         mo         23.1
24  2023         montana         mt         24.4
25  2023        nebraska         ne         17.9
26  2023          nevada         nv         20.7
27  2023   new hampshire         nh         22.0
28  2023      new jersey         nj         13.9
29  2023      new mexico         nm         23.0
30  2023        new york         ny         16.4
31  2023  north carolina         nc         23.1
32  2023    north dakota         nd         22.3
33  2023            ohio         oh         25.0
34  2023        oklahoma         ok         25.0
35  2023          oregon         or         25.8
36  2023    rhode island         ri         21.7
37  2023  south carolina         sc         21.9
38  2023    south dakota         sd         23.1
39  2023       tennessee         tn         27.3
40  2023           texas         tx         19.7
41  2023            utah         ut         26.0
42  2023         vermont         vt         25.8
43  2023        virginia         va         20.4
44  2023      washington         wa         23.8
45  2023   west virginia         wv         31.2
46  2023       wisconsin         wi         22.6
47  2023         wyoming         wy         21.1

# Summary statistics review

In [110]:
# Numerical summaries
print("Mean percent_yes:", df['percent_yes'].mean())
print("Std of percent_yes:",df['percent_yes'].std() )
print("Min & Max percent_yes:",df['percent_yes'].min(), df['percent_yes'].max() )

# Categorical summaries
print("\nState counts:")
print(df['state_abbr'].value_counts())

Mean percent_yes: 21.63958333333333
Std of percent_yes: 3.5439333589222963
Min & Max percent_yes: 13.9 31.2

State counts:
state_abbr
al    1
ak    1
az    1
ar    1
ca    1
co    1
ct    1
de    1
fl    1
ga    1
hi    1
id    1
il    1
in    1
ia    1
ks    1
la    1
me    1
md    1
ma    1
mi    1
mn    1
ms    1
mo    1
mt    1
ne    1
nv    1
nh    1
nj    1
nm    1
ny    1
nc    1
nd    1
oh    1
ok    1
or    1
ri    1
sc    1
sd    1
tn    1
tx    1
ut    1
vt    1
va    1
wa    1
wv    1
wi    1
wy    1
Name: count, dtype: int64

In [111]:
#unique value counts and mode detection
print("\nUnique value counts per column:")
print(df.nunique())

Unique value counts per column:
year            1
state          48
state_abbr     48
percent_yes    37
dtype: int64

# Exploring relationships

In [112]:
print("Mean percent_yes by State:")
print(df.groupby('state')['percent_yes'].mean())

print("\nMean percent_yes by State Abbreviation:")
print(df.groupby('state_abbr')['percent_yes'].mean())

print("\nMean percent_yes by Year:")
print(df.groupby('year')['percent_yes'].mean())

print("\nCorrelation matrix (numeric columns only):")
print(df.corr(numeric_only=True))

Mean percent_yes by State:
state
alabama           22.6
alaska            19.5
arizona           18.0
arkansas          24.2
california        17.0
colorado          21.4
connecticut       18.8
delaware          20.1
florida           16.3
georgia           17.7
hawaii            13.9
idaho             22.9
illinois          18.1
indiana           24.1
iowa              19.2
kansas            21.1
louisiana         25.7
maine             25.8
maryland          17.4
massachusetts     22.4
michigan          24.1
minnesota         23.1
mississippi       18.1
missouri          23.1
montana           24.4
nebraska          17.9
nevada            20.7
new hampshire     22.0
new jersey        13.9
new mexico        23.0
new york          16.4
north carolina    23.1
north dakota      22.3
ohio              25.0
oklahoma          25.0
oregon            25.8
rhode island      21.7
south carolina    21.9
south dakota      23.1
tennessee         27.3
texas             19.7
utah              26.0
vermont           25.8
virginia          20.4
washington        23.8
west virginia     31.2
wisconsin         22.6
wyoming           21.1
Name: percent_yes, dtype: float64

Mean percent_yes by State Abbreviation:
state_abbr
ak    19.5
al    22.6
ar    24.2
az    18.0
ca    17.0
co    21.4
ct    18.8
de    20.1
fl    16.3
ga    17.7
hi    13.9
ia    19.2
id    22.9
il    18.1
in    24.1
ks    21.1
la    25.7
ma    22.4
md    17.4
me    25.8
mi    24.1
mn    23.1
mo    23.1
ms    18.1
mt    24.4
nc    23.1
nd    22.3
ne    17.9
nh    22.0
nj    13.9
nm    23.0
nv    20.7
ny    16.4
oh    25.0
ok    25.0
or    25.8
ri    21.7
sc    21.9
sd    23.1
tn    27.3
tx    19.7
ut    26.0
va    20.4
vt    25.8
wa    23.8
wi    22.6
wv    31.2
wy    21.1
Name: percent_yes, dtype: float64

Mean percent_yes by Year:
year
2023    21.639583
Name: percent_yes, dtype: float64

Correlation matrix (numeric columns only):
             year  percent_yes
year          NaN          NaN
percent_yes   NaN          1.0

In [113]:
print("\nAverage percent_yes by State:\n")
print(df.groupby('state')['percent_yes'].mean())

Average percent_yes by State:

state
alabama           22.6
alaska            19.5
arizona           18.0
arkansas          24.2
california        17.0
colorado          21.4
connecticut       18.8
delaware          20.1
florida           16.3
georgia           17.7
hawaii            13.9
idaho             22.9
illinois          18.1
indiana           24.1
iowa              19.2
kansas            21.1
louisiana         25.7
maine             25.8
maryland          17.4
massachusetts     22.4
michigan          24.1
minnesota         23.1
mississippi       18.1
missouri          23.1
montana           24.4
nebraska          17.9
nevada            20.7
new hampshire     22.0
new jersey        13.9
new mexico        23.0
new york          16.4
north carolina    23.1
north dakota      22.3
ohio              25.0
oklahoma          25.0
oregon            25.8
rhode island      21.7
south carolina    21.9
south dakota      23.1
tennessee         27.3
texas             19.7
utah              26.0
vermont           25.8
virginia          20.4
washington        23.8
west virginia     31.2
wisconsin         22.6
wyoming           21.1
Name: percent_yes, dtype: float64

In [114]:
# Using IQR method
Q1 = df['percent_yes'].quantile(0.25)
Q3 = df['percent_yes'].quantile(0.75)
IQR = Q3 - Q1

outliers =df[(df['percent_yes']<(Q1-1.5*IQR))| (df['percent_yes']>(Q3+1.5*IQR))]
print("Number of outliers in percent_yes:", outliers.shape[0])

# Using Z-Score method
from scipy import stats
z = stats.zscore(df['percent_yes'])
print("Potential outliers (Z > 3):", df[abs(z) > 3].shape[0])

Number of outliers in percent_yes: 0
Potential outliers (Z > 3): 0