# Program #1

Step #1 EDA
- Detect issues such as missing values, duplicates, or inconsistencies

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("program1.csv")
print(df)

    year           state state_abbr  percent_yes
0   2023         Alabama         AL         22.6
1   2023          Alaska         AK         19.5
2   2023         Arizona         AZ         18.0
3   2023        Arkansas         AR         24.2
4   2023      California         CA         17.0
5   2023        Colorado         CO         21.4
6   2023     Connecticut         CT         18.8
7   2023        Delaware         DE         20.1
8   2023         Florida         FL         16.3
9   2023         Georgia         GA         17.7
10  2023          Hawaii         HI         13.9
11  2023           Idaho         ID         22.9
12  2023        Illinois         IL         18.1
13  2023         Indiana         IN         24.1
14  2023            Iowa         IA         19.2
15  2023          Kansas         KS         21.1
16  2023       Louisiana         LA         25.7
17  2023           Maine         ME         25.8
18  2023        Maryland         MD         17.4
19  2023   Massachusetts         MA         22.4
20  2023        Michigan         MI         24.1
21  2023       Minnesota         MN         23.1
22  2023     Mississippi         MS         18.1
23  2023        Missouri         MO         23.1
24  2023         Montana         MT         24.4
25  2023        Nebraska         NE         17.9
26  2023          Nevada         NV         20.7
27  2023   New Hampshire         NH         22.0
28  2023      New Jersey         NJ         13.9
29  2023      New Mexico         NM         23.0
30  2023        New York         NY         16.4
31  2023  North Carolina         NC         23.1
32  2023    North Dakota         ND         22.3
33  2023            Ohio         OH         25.0
34  2023        Oklahoma         OK         25.0
35  2023          Oregon         OR         25.8
36  2023    Rhode Island         RI         21.7
37  2023  South Carolina         SC         21.9
38  2023    South Dakota         SD         23.1
39  2023       Tennessee         TN         27.3
40  2023           Texas         TX         19.7
41  2023            Utah         UT         26.0
42  2023         Vermont         VT         25.8
43  2023        Virginia         VA         20.4
44  2023      Washington         WA         23.8
45  2023   West Virginia         WV         31.2
46  2023       Wisconsin         WI         22.6
47  2023         Wyoming         WY         21.1

In [2]:
print(f"The number of rows= {df.shape[0]}")
print(f"The number of columns= {df.shape[1]}")

The number of rows= 48
The number of columns= 4

In [3]:
#display the columns
df.columns.to_list()

['year', 'state', 'state_abbr', 'percent_yes']